<div class="row">
  <div class="col xl12" > <!-- </div>style="height:30px; background-color: lightgray;"> -->
    
    <form>
      <div class="row">
        <div class="input-field col xl12">
          <h2>Produtos</h2>
          <a onclick="M.toast({html: 'I am a toast'})" class="btn">Toast!</a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col xl3">
          <select>
            <option value="" disabled selected>Escolha uma categoria</option>
          </select>
          <label>Categoria</label>
        </div>
        <div class="input-field col xl9">
          <label for="name">Nome</label>
          <input id="name" type="text">
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col xl6">
          <input id="bar_code" type="text">
          <label for="bar_code">Cod. barras</label>
        </div>
        <div class="input-field col xl2">
          <input id="qt_stock" type="text">
          <label for="qt_stock">Qt. estoque</label>
        </div>
        <div class="input-field col xl2">
          <input id="name" type="text">
          <label for="name">Nome</label>
        </div>
        <div class="input-field col xl2">
          <label for="name">Nome</label>
          <input id="name" type="text">
        </div>
      </div>
      
    </form>
    
  </div>
</div>
    