<!--Grid row-->
      <div class="row" style="
    height: 400px;
    background-color: bisque;
">
  
          <!--Grid column-->
          <div class="col-md-7" style="
    height: 300px;
    background-color: aliceblue;
">
  
  
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-5" style="
    height: 300px;
    background-color: beige;
">
  
  
  
          </div>
          <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
      <!--Grid row-->
      <div class="row" style="
    height: 300px;
    background-color: aquamarine;
">
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-12" style="
    height: 250px;
    background-color: yellowgreen;
">
  
  
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6" style="
    height: 250px;
    background-color: whitesmoke;
">
  
  
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6" style="
    height: 250px;
    background-color: violet;
">
  
  
  
          </div>
          <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
  </div>