<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">xxxxxxxxxxx</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/products">Produtos</a></li>
            <li><a href="/categories">Categorias</a></li>
            <li><a href="/product_values">Val. produtos</a></li>
        </ul>
    </div>
</nav>
